/* .centuries-page {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
} */

.centuries-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centuries-page.loading {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('https://www.artic.edu/iiif/2/80df29cd-493f-23c0-3e51-4ddc38b3f34f/full/full/0/default.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline-wrapper {
  width: auto;
  overflow-y: auto;
}

.century-timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.century {
  margin: 0.1rem;
  padding: 0.6rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #c2b0b0;
  transition: background-color 0.3s;
}

/* .century:hover {
  background-color: #d0d0d0;
} */

.artworks-wrapper {
  columns: 160px;
  padding: 2rem 1rem;
  overflow-y: auto;
  margin: auto;
}

.artwork-card {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  cursor: pointer;
}

/* .artwork-card:hover {
  transform: scale(1.1);
} */

.artwork-card img {
  max-width: 100%;
  border-radius: 5px;
}
