.home-wrapper {
  color: #333;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 9999;
}

.nav-bar h5 {
  margin-left: 0.4rem;
}

.home-wrapper .hero-text {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.hero-text h1 {
  margin: 0;
}

.hero-text h2 {
  margin: 0;
}
