.home-wrapper {
  color: #333;
}

.nav-bar h5 {
  margin-left: 0.4rem;
}

.home-wrapper .hero-text {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.hero-text h1 {
  margin: 0;
}

.hero-text h2 {
  margin: 0;
}
