.home-wrapper {
  color: #333;
}

.home-wrapper .hero-text {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.hero-text h1 {
  margin: 0;
}

.hero-text h2 {
  margin: 0;
}

.modal {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  color: #333;
  border-radius: 10px;
  border: none;
}

.modal .modal-footer p {
  color: #333;
}
