@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;500&family=Satisfy&display=swap');

.landing-page {
  font-family: 'Playfair Display', serif;
  background-color: black;
  color: #ffffff;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.app-name {
  position: absolute;
  top: 0rem;
  left: 0.4rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.percentage-text {
  position: absolute;
  bottom: 6rem;
  right: 0;
  font-size: 8rem;
  font-weight: bold;
}

.percentage-bar {
  position: absolute;
  left: 3rem;
  bottom: 7rem;
  height: 0.2rem;
  background-color: #ffffff;
}

@media (min-width: 481px) and (max-width: 768px) {
  .percentage-text {
    font-size: 10rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .percentage-text {
    font-size: 12rem;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .percentage-text {
    font-size: 14rem;
  }
}

@media (min-width: 1441px) {
  .percentage-text {
    font-size: 16rem;
  }
}
