.search-bar {
  width: auto;
  display: flex;
  position: absolute;
  left: 0.1rem;
  top: 3rem;
}

.search-bar .form-control {
  width: 13rem;
  padding: 0.3rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 20px;
}

.search-bar .form-control::placeholder {
  font-style: italic;
}

.search-bar button {
  border: none;
  background: transparent;
  cursor: pointer;
}
